* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Fredoka', sans-serif;
}

.hide {
  display: none;
}

header {
  width: 100%;
  height: 100vh;
  background-image: url("../img/header__background.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__title {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px 20px;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  font-size: 60px;
  font-weight: bold;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.header__title-span-1 {
  color: #919191;
}

.header__title-span-2 {
  color: #DD7703;
}

.header__button {
  color: #FFFFFF;
  font-size: 20px;
  -webkit-border-radius: 40px;
          border-radius: 40px;
  border: 1px solid black;
  background: black;
  padding: 15px 25px;
  cursor: pointer;
}

.header__button:hover {
  background: #818181;
  border: 1px solid #818181;
}

.wrapper {
  width: 100%;
  height: 100vh;
  padding: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.list__box {
  background-color: #D1D1D1;
  width: 100%;
  height: 95vh;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

.list__box-title {
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid #FFFFFF;
}

.list__box-content {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  width: 95%;
  border: 1px solid #FFFFFF;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
  margin-bottom: 30px;
}

.card__title {
  overflow: hidden;
}

.card__description {
  overflow: hidden;
}

.card:hover {
  background-color: #F2F2F2;
}

.Anna {
  margin-top: 30px;
  text-align: center;
}

#back__arrow {
  width: 80px;
  text-align: center;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  background-color: #FFFFFF;
  cursor: pointer;
  margin-bottom: 20px;
  padding: 10px;
}

#back__arrow:hover {
  background-color: #919191;
}

.add__button {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #525252)), -webkit-gradient(linear, left top, left bottom, color-stop(0, #525252));
  background: -webkit-linear-gradient(#525252 0 0), -webkit-linear-gradient(#525252 0 0);
  background: -o-linear-gradient(#525252 0 0), -o-linear-gradient(#525252 0 0);
  background: linear-gradient(#525252 0 0), linear-gradient(#525252 0 0);
  background-position: center;
  -webkit-background-size: 50% 3px,3px 50%;
          background-size: 50% 3px,3px 50%;
  /*thickness = 2px, length = 50% (25px)*/
  background-repeat: no-repeat;
  cursor: pointer;
  margin-bottom: 20px;
}

.add__button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, white)), -webkit-gradient(linear, left top, left bottom, color-stop(0, white));
  background: -webkit-linear-gradient(white 0 0), -webkit-linear-gradient(white 0 0);
  background: -o-linear-gradient(white 0 0), -o-linear-gradient(white 0 0);
  background: linear-gradient(white 0 0), linear-gradient(white 0 0);
  background-position: center;
  -webkit-background-size: 50% 3px,3px 50%;
          background-size: 50% 3px,3px 50%;
  /*thickness = 2px, length = 50% (25px)*/
  background-repeat: no-repeat;
}

.note__container {
  width: 100%;
  height: 95vh;
  padding: 30px;
  background-color: #D1D1D1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

.note__title {
  padding: 0px 10px;
  width: 50%;
  height: 10%;
  margin-bottom: 10px;
  border: none;
  -webkit-border-radius: 30px;
          border-radius: 30px;
}

.note__description {
  padding: 0px 10px;
  width: 30%;
  height: 10%;
  margin-bottom: 10px;
  border: none;
  -webkit-border-radius: 30px;
          border-radius: 30px;
}

.IntroductionField {
  margin: 10px;
  width: 95%;
  height: 80%;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  padding: 10px;
  margin-bottom: 30px;
  border: none;
}

.text__button {
  color: black;
  padding: 3px 5px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background: none;
  border: 2px solid black;
  cursor: pointer;
}

.text__button:hover {
  background-color: #DD7703;
}

.save {
  font-size: 25px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}
