* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

.hide{
    display: none;
}

header{
    width: 100%;
    height: 100vh;
    background-image: url("../img/header__background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    &__title{
        background-color: rgba(0, 0, 0, 0.7);
        padding: 5px 20px;
        border-radius: 50px;
        font-size: 60px;
        font-weight: bold;
        color: #FFFFFF;
        margin-bottom: 30px;
        &-span-1{
            color: #919191;
        }
        &-span-2{
            color: #DD7703;
        }
    }
    &__button{
        color:  #FFFFFF;
        font-size: 20px;
        border-radius: 40px;
        border: 1px solid black;
        background: black;;
        padding: 15px 25px;
        cursor: pointer;
    }
    &__button:hover{
        background: #818181;
        border: 1px solid #818181;
    }
}
.wrapper{
    width: 100%;
    height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list{

    &__box{
        background-color: #D1D1D1;
        width: 100%;
        height: 95vh;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        &-title{
            width: 100%;
            text-align: center;
            padding-bottom: 10px;
            margin-bottom: 20px;
            border-bottom: 2px solid #FFFFFF;
        }
        &-content{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}
.card{
    width: 95%;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    margin-bottom: 30px;
    &__title{
        overflow: hidden;
    }
    &__description{
        overflow: hidden;
    }
}
.card:hover{
    background-color: #F2F2F2;
}
.Anna{
    margin-top: 30px;
    text-align: center;
}
#back__arrow{
    width: 80px;
    text-align: center;
    border-radius: 50px;
    background-color: #FFFFFF;
    cursor: pointer;
    margin-bottom: 20px;
    padding: 10px;
}
#back__arrow:hover{
    background-color: #919191;
}

.add__button{
    display:inline-block;
    width:60px;
    height:60px;
    background:
    linear-gradient(rgb(82, 82, 82) 0 0),
    linear-gradient(rgb(82, 82, 82) 0 0);
    background-position:center;
    background-size: 50% 3px,3px 50%; /*thickness = 2px, length = 50% (25px)*/
    background-repeat:no-repeat;
    cursor: pointer;
    margin-bottom: 20px;
}

.add__button:hover{
    background:
    linear-gradient(rgb(255, 255, 255) 0 0),
    linear-gradient(rgb(255, 255, 255) 0 0);
    background-position:center;
    background-size: 50% 3px,3px 50%; /*thickness = 2px, length = 50% (25px)*/
    background-repeat:no-repeat;
}

.note{  
    &__container{
        width: 100%;
        height: 95vh;
        padding: 30px;
        background-color: #D1D1D1;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
    }
    &__title{
        padding: 0px 10px;
        width: 50%;
        height: 10%;
        margin-bottom: 10px;
        border: none;
        border-radius: 30px;
    }
    &__description{
        padding: 0px 10px;
        width: 30%;
        height: 10%;
        margin-bottom: 10px;
        border: none;
        border-radius: 30px;
    }
}

.IntroductionField{
    margin: 10px;
    width: 95%;
    height: 80%;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 30px;
    border: none;
}

.text__button{
    color: black;
    padding: 3px 5px;
    border-radius: 5px;
    // background-color: #DD7703;
    background: none;
    border: 2px solid black;
    cursor: pointer;
}
.text__button:hover{
    background-color: #DD7703;
}

.save{
    font-size: 25px;
    border-radius: 10px;   
}


@media (max-width: 400px){
    .header__title {
        width: 90%;
        font-size: 40px;
        text-align: center;
      }
      .list__box-title{
        font-size: 25px;
      }
      .note__title{
        width: 90%;
        height: 10%;
      }
      .note__description{
        width: 80%;
        height: 10%;
      }
      .IntroductionField{
        width: 100%;
      }
}
